
<%- include("partials/header.ejs") %>

<!-- <h1>welcome to blog application</h1> -->
<div class="home">
    <div class="create-blog">
        <div class="create-head">
            <h2>Surf the web with your words</h2>
            <h5>Create a unique and beautiful blog easily.</h5>
        </div>
        <div class="create-form">
            
            <div class="create-btn">
                <a href="/form" class="create-btn-a" id="create-blog">Create Your Blog
                    <!-- <i class="fa-solid fa-plus"></i> -->
                </a>
            </div>
        </div>

    </div>
    
</div>
<div class="blogs">
    <div class="blog">
        <% if(locals.artData){ %>
            <!-- <div class="left-blog">
                <img src="" alt="">
            </div> -->
            <div class="right-blog">
                <h3><%= artData.t %></h3>
                <h5><%= artData.m %></h5>
                <p><%= artData.d %></p>
            </div>
            <% } %>
            
    </div>
    
    
    
    </h2>
</div>



<%- include("partials/footer.ejs") %>